<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('fragments/imports.html') %>

</head>
<body>

<%- include ('fragments/navigation.html') %>

<i class="fas fa-user"></i> <!-- uses solid style -->
<i class="fab fa-github-square"></i> <!-- uses brand style -->

</body>
</html>